[defaults]
interpreter_python = auto_silent
verbosity = 1
host_key_checking = False

roles_path = ./roles

inventory = hosts
remote_user = ansible
remote_tmp = /tmp

[ssh_connection]
ssh_args = -C -o ControlMaster=no -o ControlPersist=60s -o ConnectTimeout=10
retries = 1
usetty = True
sftp_batch_mode = True
transfer_method = sftp

